/* Estilos para o cabeçalho */
header {
    background-color: #315e18;
    color: #fff;
    padding: 20px;
  }
  body{
    background-color: #24c90e;
  }
  
  h1 {
    margin: 0;
    font-size: 36px;
    font-weight: normal;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  /* Estilos para a seção principal */
  section {
    margin: 40px auto; 
    max-width: 800px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #1f1f1f;
    text-decoration: none;
  }
  
  /* Estilos para o rodapé */
  footer {
    background-color:#315e18;
    color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    margin: 0;
    font-size: 16px;
  }